{% extends 'base.html' %}

{% block title %}Форма авторизации{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h2>Форма авторизации</h2>
            <form method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label">Имя пользователя</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Войти</button>
            </form>
        </div>
        
        {% if show_data %}
        <div class="col-md-6">
            <h2>Введенные данные:</h2>
            <table class="table">
                <tbody>
                    {% for key, value in form_data.items() %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
{% endblock %} 